body
{
    font-family: 'Oswald', sans-serif ;

    background-image: url('../res/images/bg.gif') ;
}

.box
{
    width: 38% ;
    margin-left: 31% ;

    text-align: center ;

    border: 5px solid black ;
    border-radius: 25px ;
}

header
{
    text-align: center ;
}

header#title
{
    background: #8ac007 ;
}

section
{
    margin-top: 20px ;
}

.link-box
{
    background: white ;
}

.item
{
    font-size: 18px ;

    text-align: center ;
}

.item:last-child
{
    margin-bottom: 2px ;
}

a:link
{
    text-decoration: none ;

    color: #17b ;
}

a:visited
{
    text-decoration: none ;

    color: green ;
}

a:hover
{
    text-decoration: underline ;
}
